.root {
  -fx-background-image: url("img/sand.png");
  -fx-background-repeat: repeat repeat;
  -fx-background-size: auto;
  -fx-background-position: 0 0;
}

.body {
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
}
